.git
.gitignore
README.md
docker-compose.override.yaml
node_modules
Dockerfile
docker-compose.yml
.dockerignore
docker/
tests/
storage/logs/
storage/framework/cache/
storage/framework/sessions/
storage/framework/views/
#.env
